*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
.env.local
*.pyc
__pycache__/
token-server/.venv/
deploymentTargetSelector.xml
runConfigurations.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
vcs.xml
